@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v20-cyrillic_latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/inter-v20-cyrillic_latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-v20-cyrillic_latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-v20-cyrillic_latin-900.woff2") format("woff2");
}
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-neutral-100 text-neutral-900;
}

.container {
  @apply mx-auto max-w-7xl px-4;
}
