<footer class="relative border-t border-white/5">
  <div class="container">
    <div
      class="flex flex-col items-center justify-between gap-4 py-6 text-sm text-neutral-300 md:flex-row"
    >
      <span>© 2026 Aleksey. All rights reserved.</span>
      <span>Built and designed by me</span>
    </div>
  </div>
</footer>
